$color-black-awesome: #3a3f44;
$color-hopbust: #c69;
$color-bouquet: #b37399;
$color-venus: #998099;
$color-patina: #699;
$color-nebula: #d2e1dd;
$color-white: #fff;
$color-dawn-pink: #f2ece4;
$color-wafer: #e1d7d2;
$color-iron: #dadbdf;
$color-regent-grey:#808c99;
$color-pale-sky: #6b717f;
$color-midnight-blue: #036;

$color-border: #dadada;
