body {
  background-color: $color-white;
}

.card-navbar {
  background-color: $color-primary;
}

.btn-add-task {
  background-color: $color-primary;
  color: $color-primary;
}

.navbar-brand {
  color: $color-white;
}

.pull-top-10 {
  margin-top: 1rem;
}
.pull-top-20 {
  margin-top: 2rem;
}
.pull-top-30 {
  margin-top: 3rem;
}
.pull-top-40 {
  margin-top: 4rem;
}
.pull-top-50 {
  margin-top: 5rem;
}

.pull-bottom-10 {
  margin-bottom: 1rem;
}
.pull-bottom-20 {
  margin-bottom: 2rem;
}
.pull-bottom-30 {
  margin-bottom: 3rem;
}
.pull-bottom-40 {
  margin-bottom: 4rem;
}
.pull-bottom-50 {
  margin-bottom: 5rem;
}

.set-center {
  text-align: center;

  .btn {
    width: 21.6rem;
  }
}

.panel-user-detail {
  border-radius: 0;
  .panel-heading {
    padding: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    img {
      width: 100%;
    }
  }
  .panel-body {
    .text-name {
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
    }
    .text-username {
      font-size: 1.6rem;
      text-align: center;
    }
  }
  .panel-footer {
    background: 0;
    text-align: center;
  }
}

.panel-user-repository {
  border-radius: 0;
  .panel-heading {
    background-color: $color-midnight-blue;
    color: $color-white;
    text-align: center;
    font-weight: bold;
  }
  .panel-body {
    padding: 0;
    ul {
      margin-bottom: 0;
      li {
        border-left: 0;
        border-right: 0;
        text-align: center;
        &:last-child {
          border-bottom: 0;
          &:hover {
            background-color: darken(#dff0d8, 5%);
            transition: 0.3s all;
          }
        }
        &:first-child {
          border-top: 0;
          &:hover {
            background-color: darken(#d9edf7, 5%);
            transition: 0.3s all;
          }
        }
        a {
          color: #333;
          font-size: 1.2rem;
          display: block;
          &:hover,
          &:visited {
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.githap-cards {
  border-radius: 0;
  .panel-heading {
    padding: 0;
    text-align: center;
    border-bottom: 0;
    .username {
      position: absolute;
      top: 0.75rem;
      color: $color-white;
      left: 2rem;
      text-align: center;
    }
    img {
      width: 100%;
      height: 25rem;
    }
  }
  .panel-footer {
    border-top: 0;
    background-color: #333;
    color: $color-white;
    a {
      color: $color-white;
      &:visited,
      &:hover {
        color: $color-white;
      }
    }
  }
}

.footer {
  border: 1px solid;
  padding: 1rem 0;
  border-top: 1px solid #d3e0e9;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  .text-footer {
    text-align: center;
  }
}
