.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-black-awesome;
  display: block;
  padding: 1rem 0;
  border: 0;
}

.card-navbar {
  //background-color: $color-black-awesome;
  background-color: $color-bouquet;
  border-radius: 0;
  border: 0;

  .navbar-header {
    .navbar-brand {
      color: $color-white;

      &:hover,
      &:visited {
        color: $color-white;
      }
    }
  }

  .navbar-nav {
    li {
      a {
        color: $color-white;

        &:hover,
        &:visited {
          color: $color-white;
        }
       }
    }
  }
}

.navbar-brand {
  color: $color-white;
}

.pull-top-10 {
  margin-top: 1rem;
}
.pull-top-20 {
  margin-top: 2rem;
}
.pull-top-30 {
  margin-top: 3rem;
}
.pull-top-40 {
  margin-top: 4rem;
}
.pull-top-50 {
  margin-top: 5rem;
}

.pull-bottom-10 {
  margin-bottom: 1rem;
}
.pull-bottom-20 {
  margin-bottom: 2rem;
}
